<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#191D88" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <title>Hungry Explorer</title>

<body>
    <button type="button" class="skip-to-content" tabindex="0">Skip to Content</button>

    <header class="app-bar">
        <div class="nav-menu">
            <button id="hamburgerButton">☰</button>
        </div>

        <div class="app-bar__logo">
            <h1>Hungry Explorer</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__nav">
            <ul class="nav__list">
                <li><a href="/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/mei-albert-zend" target="_blank" rel="noopener"
                        id="aboutUsLink">About
                        Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="jumbotron">
        <div class="hero__inner">
            <h1 class="hero__title">Unlock Culinary Journeys</h1>
            <p class="hero__desc">Find Your Favorite Restaurant Here.</p>
        </div>
    </div>
    <section id="mainContent" tabindex="0">
        <main>
            <div id="exploreContainer" class="explore-container"></div>
            <div class="restaurant-list">
                <!-- Daftar item kartu restoran akan tetap di sini -->
            </div>
            </div>
        </main>
    </section>
    <footer>
        <p>Copyright © 2023 - Albert Zendrato</p>
    </footer>
</body>

</html>